P1/P1-ws/VotoDAOWSService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.2 (RELEASE-4.0.2-ffda8c0; 2023-01-31T10:50:38+0000) XMLWS-Impl/4.0.1 XMLWS-API/4.0.0 XMLB-Impl/4.0.2 XMLB-API/4.0.0 git-revision#ffda8c0. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.2 (RELEASE-4.0.2-ffda8c0; 2023-01-31T10:50:38+0000) XMLWS-Impl/4.0.1 XMLWS-API/4.0.0 XMLB-Impl/4.0.2 XMLB-API/4.0.0 git-revision#ffda8c0. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://dao.voto.ssii2/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://dao.voto.ssii2/" name="VotoDAOWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://dao.voto.ssii2/" schemaLocation="http://10.4.1.2:8080/P1-ws-ws/VotoDAOWSService?xsd=1"/>
</xsd:schema>
</types>
<message name="setDirectConnection">
<part name="parameters" element="tns:setDirectConnection"/>
</message>
<message name="setDirectConnectionResponse">
<part name="parameters" element="tns:setDirectConnectionResponse"/>
</message>
<message name="isDirectConnection">
<part name="parameters" element="tns:isDirectConnection"/>
</message>
<message name="isDirectConnectionResponse">
<part name="parameters" element="tns:isDirectConnectionResponse"/>
</message>
<message name="isPrepared">
<part name="parameters" element="tns:isPrepared"/>
</message>
<message name="isPreparedResponse">
<part name="parameters" element="tns:isPreparedResponse"/>
</message>
<message name="compruebaCenso">
<part name="parameters" element="tns:compruebaCenso"/>
</message>
<message name="compruebaCensoResponse">
<part name="parameters" element="tns:compruebaCensoResponse"/>
</message>
<message name="registraVoto">
<part name="parameters" element="tns:registraVoto"/>
</message>
<message name="registraVotoResponse">
<part name="parameters" element="tns:registraVotoResponse"/>
</message>
<message name="getVotos">
<part name="parameters" element="tns:getVotos"/>
</message>
<message name="getVotosResponse">
<part name="parameters" element="tns:getVotosResponse"/>
</message>
<message name="delVotos">
<part name="parameters" element="tns:delVotos"/>
</message>
<message name="delVotosResponse">
<part name="parameters" element="tns:delVotosResponse"/>
</message>
<message name="setPrepared">
<part name="parameters" element="tns:setPrepared"/>
</message>
<message name="setPreparedResponse">
<part name="parameters" element="tns:setPreparedResponse"/>
</message>
<message name="isDebug">
<part name="parameters" element="tns:isDebug"/>
</message>
<message name="isDebugResponse">
<part name="parameters" element="tns:isDebugResponse"/>
</message>
<message name="setDebug">
<part name="parameters" element="tns:setDebug"/>
</message>
<message name="setDebugResponse">
<part name="parameters" element="tns:setDebugResponse"/>
</message>
<portType name="VotoDAOWS">
<operation name="setDirectConnection">
<input wsam:Action="http://dao.voto.ssii2/VotoDAOWS/setDirectConnectionRequest" message="tns:setDirectConnection"/>
<output wsam:Action="http://dao.voto.ssii2/VotoDAOWS/setDirectConnectionResponse" message="tns:setDirectConnectionResponse"/>
</operation>
<operation name="isDirectConnection">
<input wsam:Action="http://dao.voto.ssii2/VotoDAOWS/isDirectConnectionRequest" message="tns:isDirectConnection"/>
<output wsam:Action="http://dao.voto.ssii2/VotoDAOWS/isDirectConnectionResponse" message="tns:isDirectConnectionResponse"/>
</operation>
<operation name="isPrepared">
<input wsam:Action="http://dao.voto.ssii2/VotoDAOWS/isPreparedRequest" message="tns:isPrepared"/>
<output wsam:Action="http://dao.voto.ssii2/VotoDAOWS/isPreparedResponse" message="tns:isPreparedResponse"/>
</operation>
<operation name="compruebaCenso">
<input wsam:Action="http://dao.voto.ssii2/VotoDAOWS/compruebaCensoRequest" message="tns:compruebaCenso"/>
<output wsam:Action="http://dao.voto.ssii2/VotoDAOWS/compruebaCensoResponse" message="tns:compruebaCensoResponse"/>
</operation>
<operation name="registraVoto">
<input wsam:Action="http://dao.voto.ssii2/VotoDAOWS/registraVotoRequest" message="tns:registraVoto"/>
<output wsam:Action="http://dao.voto.ssii2/VotoDAOWS/registraVotoResponse" message="tns:registraVotoResponse"/>
</operation>
<operation name="getVotos">
<input wsam:Action="http://dao.voto.ssii2/VotoDAOWS/getVotosRequest" message="tns:getVotos"/>
<output wsam:Action="http://dao.voto.ssii2/VotoDAOWS/getVotosResponse" message="tns:getVotosResponse"/>
</operation>
<operation name="delVotos">
<input wsam:Action="http://dao.voto.ssii2/VotoDAOWS/delVotosRequest" message="tns:delVotos"/>
<output wsam:Action="http://dao.voto.ssii2/VotoDAOWS/delVotosResponse" message="tns:delVotosResponse"/>
</operation>
<operation name="setPrepared">
<input wsam:Action="http://dao.voto.ssii2/VotoDAOWS/setPreparedRequest" message="tns:setPrepared"/>
<output wsam:Action="http://dao.voto.ssii2/VotoDAOWS/setPreparedResponse" message="tns:setPreparedResponse"/>
</operation>
<operation name="isDebug">
<input wsam:Action="http://dao.voto.ssii2/VotoDAOWS/isDebugRequest" message="tns:isDebug"/>
<output wsam:Action="http://dao.voto.ssii2/VotoDAOWS/isDebugResponse" message="tns:isDebugResponse"/>
</operation>
<operation name="setDebug">
<input wsam:Action="http://dao.voto.ssii2/VotoDAOWS/setDebugRequest" message="tns:setDebug"/>
<output wsam:Action="http://dao.voto.ssii2/VotoDAOWS/setDebugResponse" message="tns:setDebugResponse"/>
</operation>
</portType>
<binding name="VotoDAOWSPortBinding" type="tns:VotoDAOWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="setDirectConnection">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isDirectConnection">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isPrepared">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="compruebaCenso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registraVoto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVotos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delVotos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setPrepared">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isDebug">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setDebug">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="VotoDAOWSService">
<port name="VotoDAOWSPort" binding="tns:VotoDAOWSPortBinding">
<soap:address location="http://10.4.1.2:8080/P1-ws-ws/VotoDAOWSService"/>
</port>
</service>
</definitions>